@import "../../../assets/styles/styles.scss";
.ticker{
  width: 350px;
  height: 55px;
  display: grid;
  grid-template-columns: 25px 100px 25px 200px;
  overflow: hidden;
  *{
    height: 40px;
    margin: auto;
    padding: auto;
  }
}

.tickerItem{
  overflow: hidden;
}