@import "../../../assets/styles/styles.scss";
.ticker{
  width: 350px;
  height: 55px;
  display: grid;
  grid-template-columns: 25px 100px 25px 200px;
  overflow: hidden;
  *{
    height: 40px;
    margin: auto;
    padding: auto;
  }
}
.tickerLeft{
  font-weight: bold;
}
.tickerItem{
  width: 100%;
  text-align: left;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .ticker{
    display: none;
  }
}