@import "../../assets/styles/styles.scss";

.landing{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.fadeOut{
  animation: slide-in 5s;
}

.enterButton{
  transition: background-color 0.5s ease;
  &:hover{
    background-color: rgb(214, 146, 57);
  }
}