@import "../../assets/styles/styles.scss";

.article{
    width: 80%;
    height: calc(100vh - 55px);
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.articleText{
    max-height: 100%;
    grid-column: 2;
    overflow-y: scroll;
}