@import "../../../../assets/styles/styles.scss";

.textScrollArea{
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
}
.textScroller{
    white-space: nowrap;
    transform: translateX(-100%);
    animation: text-scroll 5s linear infinite;
}