@import "../../../../assets/styles/styles.scss";

.textScrollArea{
    width: 200px;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
}
.textScroller{
    width: 500px;
    white-space: nowrap;
    transform: translateX(100%);
    animation: text-scroll 5s linear infinite;
}