@import "../../assets/styles/styles.scss";

.about {
  height: 100%;
  width: 80%;
  padding: 5%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutContent {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 1%;
  grid-template-columns: 1fr 1fr;
}

.imageAndLinks {
  grid-column: 1;
  width: 500px;
}
.imageOfMe {
  background-color: lightgray;
  height: 400px;
  background-image: url("../../assets/img/me.jpg");
  background-size: cover;
}

.stack{
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .about{
    width: 100vw;
    margin: 0;
  }

  .aboutContent{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    margin: 0;
  }
  .imageAndLinks{
    width: 100%;
  }
  .imageOfMe {
    background-color: lightgray;
    width: 100%;
    
    background-size: cover;
  }
}