@import "../../assets/styles/styles.scss";

.about {
  height: 100%;
  width: 80%;
  padding: 5%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutContent {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 1%;
  grid-template-columns: 1fr 1fr;
}

.imageAndLinks {
  grid-column: 1;
  width: 500px;
}
.imageOfMe {
  background-color: lightgray;
  height: 400px;
  background-image: url("../../assets/img/me.jpg");
  background-size: cover;
}

.stack{
  width: 100%;
}