@import "../../assets/styles/styles.scss";

.contactArea {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contact {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.contactFormArea {
  grid-column: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactLinkArea {
  grid-column: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .contactArea{
    width: 100vw;
  }
  .contactLinkArea{
    width: 80vw;
    margin: auto;
    align-items: initial;
  }
  .contact{
    display: flex;
    flex-direction: column;
  }
  .contactFormArea{
    width: 100%;
    margin: auto;
  }
}