@import "../../../../assets/styles/styles.scss";
.stackIcon{
  font-size: 32px;
  width: 50px;
}

.stackIconWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s ease;
  *{
    margin: 0;
  }
  p{
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:hover{
    transform: translateY(10px);
    p{
      opacity: 1;
    }   
  }
  &:active{
    transform: translateY(10px);
    p{
      opacity: 1;
    }   
  }
}