@import "../../../../assets/styles/styles.scss";
.stackIcon{
  font-size: 32px;
}

.stackIconWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
  *{
    margin: 0;
  }
  p{
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:hover{
    transform: translateY(20px);
    p{
      opacity: 1;
    }
      
  }
}