@import "./assets/styles/styles";

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 55px auto;
}

.topBarWrapper {
  grid-row: 1;
}
.contentWrapper {
  grid-row: 2;
}

@media only screen and (max-width: 576px) {
  .topBarWrapper {
    top: 0;
    width: 100vw;
    position: fixed;
  }
  .App {
    display: grid;
    grid-template-rows: 55px auto;
  }
}
