@keyframes slide-in {
  0%   {transform: translateY(0px);}
  40%  {transform: translateY(-38px);}
  60%  {transform: translateY(-38px);}
  100% {transform: translateY(-38px);}
}

@keyframes text-scroll {
  0%   {transform: translateX(-100%);}
  100% {transform: translateX(100%);}
}