button {
  outline: none;
  font-family: $standard-font-family;
  width: 10rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 16px;
  box-shadow: 0px 3px 0px 0px black;
  &:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px 0px black;
  }
}

form {
  display: flex;
  flex-direction: column;
  label{
    margin-bottom: 10px;
  }
  input {
    font-family: $standard-font-family;
    @include border-with-shadow;
    width: 400px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
  }
  textarea {
    @include border-with-shadow;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
  }
  button{
    margin: auto;
  }
}
