html,
body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  * {
    box-sizing: border-box;
  }
}

code{
  background-color: darkslategray;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

pre{
  background-color: darkslategray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 0.9rem;
}