.work {
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
  padding: 5%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.jobColumn1, .jobColumn2{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jobStack{
  font-size: 1.4rem;
  *{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.job{
  width: 100%;
  height: 33%;
  padding: 10%;
  margin: 1%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  h3, .jobStack{
    opacity: 0;
    height: 0;
  }
}

.jobHover{
  width: 100%;
  height: 10%;
  padding: 10%;
  margin: 1%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  h3, .jobStack{
    opacity: 0;
    color: white;
  }
  
  &:hover{
    height: 200%;
    background-color: rgba(0, 0, 0, 0.5); // Tint color
    background-blend-mode: multiply;
    h3, .jobStack{
      opacity: 1;
    }
  }
}
.minesweeper{
  background-image: url("../../assets/img/minesweeper.png");
  background-size: cover;
}

.morseTranslator{
  background-image: url("../../assets/img/morsetranslator.png");
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .work{
    grid-template-columns: 1fr;
    padding: 0;
    gap: 0;
    width: 95%;
  }
  .job, .jobHover{
    height: 250px;
    transition: none;
    margin: 0;
    margin-bottom: 3%;
    &:hover{
      height: 250px;
    }
    &:active{
      height: 250px;
    }
  }
}